h1 {
    text-align: center;
}

h1 {
    box-align: right;
    font-size: 10px;
    outline-color: brown;
}

.step {
    position: relative;
    display: inline;
}

.step.text {
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}

.header {
    background-color: none;
    color: white;
    float: center;
    text-align: center;
    padding: 5px;
    border: round;
}

section {
    width: 350px;
    float: center;
    padding: 10px;
}

.img {
    float: center;
}

ul.topnav li {
    display: inline;
    float: left;
}

ul.topnav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #a9a9a9;
    position: fixed top;
    width: 100%;
}

ul.topnavli a: hover:not(.active) {
    background-color: rgb(255, 255, 255);
}

ul.topnav li.right {
    float: right;
}

ul.topnav li a.active {
    background-color: #4CAF50;
}

@media screen and (min-width:480px)and (max-width:768px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
    body {
        background-color: #000000;
        color: white;
    }
}

@media screen and (min-width:768px) {
    body {
        background-color: #5A6900;
    }
}