h1{
    text-align: center;
}
h1 {align:right;
    font-size: 10px;
    font-color: brown;
}
.header {
    background-color:none;
    color:white;
    float: center;
    text-align:center;
    padding:5px;
    border: round;
}
section{
    width:350px;
    float:center;
    padding:10px;
}
.img{
    float: center;
}
li{
    dispaly: inline;
}
ul.topnav{
    list-style-type:none;
    margin: 0px;
    padding: 0px;
    overflow:hidde
    position:fixed
    top:0;
    width: 100%;
}